body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

h1 {
    margin-left: 85px;
    margin-top: -219px;
    font-size: 5em;
    color: lightgoldenrodyellow;
    text-align: center;
    font-weight: bold;
}

p {
    margin-left: 1em;
    font-size: 24px;
    font-weight: bold;
}

input {
    margin-bottom: 3px;
    display: block; 
    font-size: 13px;
    transform: translate(18%, 0);
    padding-left: 10px;
}

button {
    margin-left: 1em;
    font-size: 13px;
}

img {
    border: 5px solid sandybrown;
    margin-left: 24em;
    width: 500px;
    height: 320px;
}
/*DIVS*/
#canvas {
    margin-top: -37em;
    height: 561px;
    width: 600px;
    overflow: hidden;
    border: 6px solid #BCEED2;
    opacity: .85;
    float: bottom;
    background-color:orange;
}

#inserts {
    width: 30em;
    height: 35em;
    background-color: #C9A0DC;
    border: 6px solid #BCEED2;
    opacity: .75;
    margin-left: .75em;
}

#whole-div {
    margin: 20px 0;
}

#dimensions {
    -webkit-column-count: 2; 
    column-count: 2;
    width: 65em;
    height: 27em;
    opacity: .50;
    float: bottom;
    padding-top: -2em;
    margin-top: 5em;
    margin-left: 5em;
    background-color: magenta;
    padding: 1em;
}
/*Shapes*/
 .square {
    background: #DA2647;
    position: absolute;
}
.rectangle {
    background: mediumseagreen;
    position: absolute;
    width: auto 0;
    height: auto 0;
}
.circle {
    background: #C9A0DC;
    border-radius: 50%;
    position: absolute;    
}
.triangle {
    width: 0;
	height: 0;
    position: absolute;        
}  
/*Alignment*/
 .text-align-center {
    text-align: center;
}

.margin-20 {
    margin: 20px 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

 .relative {
     position: relative
 } 